@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book



<div class="card card-title m-1 p-1">
    <div class="bg-gradient p-1">
        <h3>
            @Model.Title
        <span class="rounded-pill" style="float:right">
            <small>$@Model.Price</small>
        </span>
    </h3>
</div>
<div class="card-text p-1">
    <ul>
        <li>By: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Category: @Model.Category</li>
        <li>Classification: @Model.Classification</li>
        <li>Pages: @Model.PageCount</li>
        <li>Price: $@Model.Price</li>
    </ul>
</div>
</div>

